<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clubs Page</title>
    <style>
        h1{
            text-align: center;
        }
        p{
            text-align: center;
        }
        h2{
            text-align: center;
        }
        .logo {
            display: flex;
            justify-content: center; 
            gap: 150px;
        }
        .logo div{
            text-align: center;
        }
        img{
            width: 150px;
        }
    </style>
</head>
<body style="background-color: rgb(214, 254, 254);">
    <header>
        <h1>VIT CLUBS</h1>
        <hr>
    </header>
    <main>
        <p style="font-size: 20px;">There are various clubs available in VIT for each individual to take part in.</p>
        <p style="font-size: 20px;">These clubs range in various fields such as <b>Technical</b>, <b>Social & SW&D</b>, <b>Self-Development & Responsibilities</b>, <b>Sports</b> and <b>Cultural</b>.</p>
        <hr>
        <h2>Technical Clubs</h2>
        <div class="logo">
            <div>
                <img src="/Assignment_2/static/Clubs/Technical/GDSC Image.jpg" alt="GDSC Logo">
                <p><a href="gdsc.html"><b>Google Developers Student Club</b></a></p>
                <p><a href="https://www.instagram.com/dscvitpune/"><i>INSTAGRAM-GDSC</i></a></p>
            </div>
            <div>
                <img src="/Assignment_2/static/Clubs/Technical/GedIt Image.jpg" alt="Gedit Logo">
                <p><a href=""><b>GedIt Coding Club</b></a></p>
                <p><a href="https://www.instagram.com/gedit.vit/"><i>INSTAGRAM-GEDIT</i></a></p>
            </div>
            <div>
                <img src="/Assignment_2/static/Clubs/Technical/MLSC Image.jpg" alt="MLSC Logo">
                <p><p><a href="mlsc.html"><b>Microsoft Learners Student Club</b></a></p></p>
                <p><a href="https://www.instagram.com/mlscvitpune/"><i>INSTAGRAM-MLSC</i></a></p>
            </div>
            <div>
                <img src="/Assignment_2/static/Clubs/Technical/TRF Image.jpg" alt="TRF Logo">
                <p><p><a href=""><b>The Robotics Forum</b></a></p></p>
                <p><a href="https://www.instagram.com/vitpunerobotics/"><i>INSTAGRAM-TRF</i></a></p>
            </div>
        </div>
        <hr>
        <h2>Social Clubs</h2>
        <div class="logo">
            <div>
                <img src="/Assignment_2/static/Clubs/Social/DIVA Image.jpg" alt="DIVA Logo">
                <p><a href=""><b>Women Empowerment Club</b></a></p>
                <p><a href="https://www.instagram.com/vit_official_divaclub/"><i>INSTAGRAM-DIVA</i></a></p>
            </div>
            <div>
                <img src="/Assignment_2/static/Clubs/Social/MUN Image.jpg" alt="MUN Logo">
                <p><a href="mun.html"><b>Model United Nations Club</b></a></p>
                <p><a href="https://www.instagram.com/vitpunemun2025/"><i>INSTAGRAM-MUN</i></a></p>
            </div>
            <div>
                <img src="/Assignment_2/static/Clubs/Social/Saarthi Image.jpg" alt="SAARTHI Logo">
                <p><p><a href="saarthi.html"><b>Freshers Supporting Club</b></a></p></p>
                <p><a href="https://www.instagram.com/vit_pune_saarthi/"><i>INSTAGRAM-SAARTHI</i></a></p>
            </div>
            <div>
                <img src="/Assignment_2/static/Clubs/Social/SWD Image.jpg" alt="SWD Logo">
                <p><p><a href=""><b>Social Welfare Club</b></a></p></p>
                <p><a href="https://www.instagram.com/vitsocials/"><i>INSTAGRAM-SWD</i></a></p>
            </div>
        </div>
        <hr>
        <h2>Self Development Clubs</h2>
        <div class="logo">
            <div>
                <img src="/Assignment_2/static/Clubs/Personality/Abhivridhi Image.jpg" alt="ABHIVRIDHI Logo">
                <p><a href="abhivridhi.html"><b>The Abhivridhi Club</b></a></p>
                <p><a href="https://www.instagram.com/vit_abhivriddhi/"><i>INSTAGRAM-ABHIVRIDHI</i></a></p>
            </div>
            <div>
                <img src="/Assignment_2/static/Clubs/Personality/CATALYST Image.jpg" alt="CATALYST Logo">
                <p><a href=""><b>The Catalyst Club</b></a></p>
                <p><a href="https://www.instagram.com/thecatalyst_vit/"><i>INSTAGRAM-CATALYST</i></a></p>
            </div>
            <div>
                <img src="/Assignment_2/static/Clubs/Personality/EDC Image.jpg" alt="EDC Logo">
                <p><p><a href="edc.html"><b>Entreprenurship Development Club</b></a></p></p>
                <p><a href="https://www.instagram.com/v_edc/"><i>INSTAGRAM-VEDC</i></a></p>
            </div>
            <div>
                <img src="/Assignment_2/static/Clubs/Personality/TIF Image.jpg" alt="TIF Logo">
                <p><p><a href=""><b>The Investment Forum</b></a></p></p>
                <p><a href="https://www.instagram.com/tifvitpune/"><i>INSTAGRAM-TIF</i></a></p>
            </div>
        </div>
        <hr>
        <h2>Cultural Clubs</h2>
        <div class="logo">
            <div>
                <img src="/Assignment_2/static/Clubs/Cultural/Aaroh Image.jpg" alt="AAROH Logo">
                <p><a href="aaroh.html"><b>Official Music Club</b></a></p>
                <p><a href="https://www.instagram.com/vit_aaroh/"><i>INSTAGRAM-AAROH</i></a></p>
            </div>
            <div>
                <img src="/Assignment_2/static/Clubs/Cultural/Poet Image.jpg" alt="POET Logo">
                <p><a href=""><b>Official Poets Club</b></a></p>
                <p><a href="https://www.instagram.com/_poets_society/"><i>INSTAGRAM-POET</i></a></p>
            </div>
            <div>
                <img src="/Assignment_2/static/Clubs/Cultural/Viculp Image.jpg" alt="VICULP Logo">
                <p><p><a href=""><b>Official Nataki Club</b></a></p></p>
                <p><a href="https://www.instagram.com/vit_viculp/"><i>INSTAGRAM-VICULP</i></a></p>
            </div>
            <div>
                <img src="/Assignment_2/static/Clubs/Cultural/Zephyr Image.jpg" alt="ZEPHYR Logo">
                <p><p><a href="zephyr.html"><b>Official Dance Club</b></a></p></p>
                <p><a href="https://www.instagram.com/vit_zephyr/"><i>INSTAGRAM-ZEPHYR</i></a></p>
            </div>
        </div>
        <hr>
        <h2>Sports Clubs</h2>
        <div class="logo">
            <div>
                <img src="/Assignment_2/static/Clubs/Sports/Chess Image.jpg" alt="Chess Logo">
                <p><a href=""><b>VIT Official Chess Club</b></a></p>
                <p><a href="https://www.instagram.com/dscvitpune/"><i>INSTAGRAM-CHESS</i></a></p>
            </div>
            <div>
                <img src="/Assignment_2/static/Clubs/Sports/Trek Image.jpg" alt="TREK Logo">
                <p><a href=""><b>Official Treking Club</b></a></p>
                <p><a href="https://www.instagram.com/gedit.vit/"><i>INSTAGRAM-TREK</i></a></p>
            </div>
        </div>
        <hr>
        <div class="logo">
            <div id="EPEC">
                <img src="/Assignment_2/static/Clubs/EPEC Image.jpg" alt="EPEC Logo" width=>
                <p><a href=""><b>All The Clubs Are Centrally Managed By The EVENT MANAGEMENT AND EXECUTION COMMITEE OF VIT.</b></a></p>
                <p><a href="https://www.instagram.com/vit_pune_official/"><i>INSTAGRAM-EPEC</i></a></p>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>